<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:background="@color/background"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    >
    <steelkiwi.com.library.DotsLoaderView
        android:id="@+id/dotsLoaderView"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:visibility="visible"
        app:dlv_item_drawable="@drawable/circle_background"
        app:dlv_line_color="#000000"
        android:minWidth="25px"
        android:minHeight="25px" />
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="?attr/colorPrimary"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Dark" />
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
    <!--Main Content-->
        <LinearLayout
            android:layout_height="match_parent"
            android:layout_width="match_parent"
            android:orientation="vertical"
            android:focusable="true"
            android:focusableInTouchMode="true"
            >
            <TableRow
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/myTableRow">
                <ImageButton
                    android:id="@+id/btAdd"
                    android:layout_height="35dp"
                    android:layout_width="35dp"
                    android:background="@drawable/button_add"
                    android:clickable="true"
                    android:focusable="false"
                    android:layout_gravity="center"
                    android:maxHeight="35dp"
                    android:maxWidth="35dp"
                    android:layout_margin="7dp" />
                <EditText
                    android:id="@+id/txAdd"
                    android:layout_height="45dp"
                    android:hint="Add task"
                    android:textColor="@color/text"
                    android:textCursorDrawable="@drawable/color_cursor"
                    android:clickable="true"
                    android:focusable="true" />
            </TableRow>
            <ListView
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/myListView1"
                android:smoothScrollbar="true"
                android:clickable="true"
                android:focusable="true"
                android:focusableInTouchMode="true" />
        </LinearLayout>
    <!--End Main content-->
    <!--Drawer Content-->
        <android.support.design.widget.NavigationView
            android:id="@+id/left_drawer"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:layout_gravity="start"
            android:fitsSystemWindows="true"
            app:headerLayout="@layout/drawer_header"
            app:menu="@menu/activity_main_drawer" />
    <!--End Drawer Conetnt-->
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>